<ion-header>
  <ion-toolbar>
    <ion-title>
      Whatsapp - واتس اب
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="banner" src="assets/imgs/whatsapp-banner.png" alt="">
  <div padding>
    <p text-center>
      تقدر تكلم اي رقم واتساب من دون ما تحفظه
    </p>
    <ion-item>
      <ion-label position="fixed">+966</ion-label>
      <ion-input [(ngModel)]="number" required type="number" placeholder="5XXXXXXXX"></ion-input>
    </ion-item>
    <ion-button class="message-button" (click)="openWhatsapp()" color="success" shape="round" expand="full" [disabled]="!number">كلم</ion-button>
  </div>

  <div class="copyrights">
    <a href="https://saud.tech">@SaudAlhelali</a>
  </div>
  
</ion-content>
